    @media (max-width: 960px) {
    .main-content-group {
        width: 100%;
    }
    .aside-content {
        margin-top: 0;
        width: 100%;
    }
    .aside-popular-item:nth-child(2n+1) {
        float: left;
        width: 50%;
        margin-right: 12px;
    }
    .wrapper-content-decoration {
        padding-bottom: 30px;
    }
    .aside-banners {
        display: none;
    }
    .show-menu {
        display: block;
    }
    .main-menu-list {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .main-menu-item-link {
        display: block;
        width: 100%;
        line-height: 40px;
    }
    .header-bottom .wrapper-content {
        padding: 0;
    }
    input[type=checkbox]:checked~.main-menu-list {
        display: block;
    }
    .subscribe,
    .small-banner {
        display: none;
    }
    .aside-popular-item-decoration {
        border-bottom: 0;
    }
}

@media (max-width: 650px) {
    .media-content-item {
        display: block;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        margin-bottom: 15px;
    }
    .media-content-img,
    .media-content-iframe {
        height: 200px;
    }
    .media-content {
        padding-bottom: 0;
        border-bottom: 0;
    }
    .content-note-img {
        float: none;
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .footer-menu-item {
        display: none
    }
    .copyright {
        margin-top: 0;
    }
    .media-content-aple {
        display: none;
    }
    .aside-popular-item:nth-child(2n+1) {
        float: none;
        width: 100%;
    }
    .aside-popular-item-decoration {
        border-bottom: 1px solid #e4e3e3;
    }
}

@media (max-width: 450px) {
    .wrapper-content {
        padding: 12px 10px;
    }
    .header-search {
        width: 50%;
    }
}