@font-face {
    font-family: 'aaux_proboldregular';
    src: url('../fonts/ufonts.com_aaux-probold-webfont.woff2') format('woff2'), url('../fonts/ufonts.com_aaux-probold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    font-family: Arial;
}

.wrapper-content {
    max-width: 1100px;
    padding: 0 38px;
    margin: 0 auto;
    position: relative;
}


/*-----------------------header-top-elements------------------*/

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.logo {
    display: inline-block;
}

.logo-link {
    color: #35213a;
    font-family: 'aaux_proboldregular';
    font-size: 28.5px;
    letter-spacing: -2.2px;
    text-align: center;
}

.subscribe-text {
    display: inline-block;
    height: 8px;
    font-size: 11px;
    font-weight: bold;
    color: #9e7ec1;
    text-transform: uppercase;
}

.subscribe-link {
    color: #9e7ec1;
    text-decoration: underline;
}

.soc-icon {
    display: inline-block;
    background-color: #5c5c5c;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-top: 3px;
    text-align: center;
}

.soc-icon:hover {
    background-color: #919191;
}

.soc-icon-hover:hover {
    text-decoration: none;
}

.fa {
    color: #fff;
}

.small-banner {
    display: inline-block;
}

.header-search {
    display: inline-block;
    position: relative;
    width: 214px;
    height: 27px;
}

.header-search-input {
    width: 100%;
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0.12);
    font-size: 12px;
    padding: 9px;
    padding-right: 25px;
}

.header-search-btn {
    width: 13px;
    height: 13px;
    position: absolute;
    top: calc(50% - 7.5px);
    right: 14px;
    color: #e0e0e0;
    background-color: #fff;
    border: 0;
}


/*---------------------header-bottom-elements------------------*/

.header-bottom {
    background-color: #35213a;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-menu-item {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: -4px;
    background-color: #35213a;
    border: solid 1px rgba(215, 160, 229, 0.12);
    border-right: 0;
}

.main-menu-item:last-child {
    border-right: solid 1px rgba(215, 160, 229, 0.12);
}

.main-menu-item-link {
    display: block;
    width: 100%;
    line-height: 51px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.main-menu-item-link:hover {
    text-decoration: none;
}

.main-menu-item:hover {
    background-color: #aa72b8;
}

.checked {
    background-color: #9e7ec1;
}

.show-menu {
    display: none;
    width: 100%;
    margin-right: -4px;
    background-color: #694372;
    border: solid 1px rgba(215, 160, 229, 0.12);
    border-right: 0;
    border-left: 0;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}


/*Hide checkbox*/

input[type=checkbox] {
    display: none;
}


/*----------------------content-top-elements------------------*/

.content-top {
    background-image: url('../img/title-background.png');
    height: 320px;
    background-size: cover;
}

.banner-info {
    padding-top: 60px;
}

.banner-title {
    font-weight: bold;
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 3.5px 2px rgba(0, 0, 0, 0.34);
    padding: 0;
}

.banner-description {
    display: block;
    font-size: 21px;
    font-weight: normal;
    text-align: left;
    color: #ffffff;
    margin-top: 21px;
}


/*----------------------clearfix-------------------------------*/

.main-content::before,
.main-content::after {
    content: "";
    display: table;
}

.main-content::after {
    clear: both;
}

.main-content-group {
    float: left;
    width: calc(100% - 340px);
}


/*----------------------content-main-elements------------------*/

.wrapper-content-decoration {
    border-bottom: 1px solid rgba(51, 32, 56, .2);
    overflow: hidden;
}

.media-content {
    padding: 41px 0;
    border-bottom: 1px solid #edeef0;
}

.media-content:last-child {
    border-bottom: 0;
}

.content-title {
    font-size: 28px;
    padding-top: 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -3px;
    color: #272727;
    text-transform: uppercase;
}

.media-content-img,
.media-content-iframe {
    width: 100%;
    height: 121px;
    padding: 1px;
    border: solid 1px #adadad;
}

.media-content-title,
.media-content-title-link {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #35213a;
    text-transform: uppercase;
}

.media-content-title-link {
    padding-bottom: 0;
}

.media-content-item {
    display: inline-block;
    width: calc(33.33% - 10px);
    margin-right: 11px;
    vertical-align: top;
}

.media-content-item:last-child {
    margin-right: 0;
}

.media-content-item iframe,
.media-content-img {
    margin: 1px;
}

.media-content-text {
    margin-top: 5px;
    font-size: 12px;
    text-align: left;
    color: rgba(51, 32, 56, 0.65);
}

.content-note {
    width: 100%;
    background-color: #8466a5;
    border: solid 1px rgba(249, 249, 249, 0.3);
    padding: 23px;
    overflow: hidden;
}

.content-note-img {
    border: solid 1px #adadad;
    width: 292px;
    float: left;
    margin-right: 18px;
}

.content-note-tittle,
.content-note-text {
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #ffffff;
}

.content-note-tittle-apple {
    color: #272727;
}

.content-note-tittle {
    font-weight: bold;
    text-transform: uppercase;
}

.aple-app-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding-right: 10px;
}

.aple-app-info-text {
    margin: 0 15px;
}

.button-appstore {
    width: 120px;
    border: 0;
    cursor: pointer;
}


/*----------------------content-aside-elements------------------*/

.aside-content {
    float: right;
    margin-top: 80px;
    width: 300px;
}

.aside-note-text {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: #35213a;
}

.aside-sign-up {
    margin-top: 20px;
}

.aside-input-sign-up {
    line-height: 2.7;
    width: 70%;
    border: solid 1px rgba(0, 0, 0, 0.12);
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.sign-up-button {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    height: 34px;
    background-color: #9e7ec1;
    border: 0;
    outline: 0;
    display: inline-block;
    width: 30%;
    margin-left: -4px;
}

.aside-content-title {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -3px;
    color: #272727;
    text-transform: uppercase;
}

.aside-popular-list {
    background: #f6f6f6;
    border: solid 1px rgba(249, 249, 249, 0.12);
    padding: 0 12px;
    width: 100%;
    overflow: hidden;
}

.aside-popular-item {
    padding: 12px 0;
    border-bottom: 1px solid #e4e3e3;
    overflow: hidden;
    color: #35213a;
}

.aside-popular-item:last-child {
    border-bottom: 0;
}

.aside-popular-item-img {
    width: 77px;
    height: 77px;
    margin-right: 12px;
    padding: 1px;
    border: solid 1px #adadad;
    float: left;
}

.aside-banners {
    overflow: hidden;
    padding-bottom: 20px;
}

.aside-banner {
    margin-top: 20px;
}

.aside-banner-img {
    margin: 0 auto;
}


/*---------------------footer-elements--------------------*/

.footer-menu {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.footer-menu-item {
    display: inline-block;
    margin-right: -4px;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-menu-item-link {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #35213a;
    padding: 0 10px;
}

.footer-menu-item-link-first {
    padding-left: 0;
}

.footer-menu-item {
    border-right: 1px solid #35213a;
}

.footer-menu-item:last-child {
    border-right: 0;
}

.footer-menu-item-link:hover {
    color: #9e7ec1;
}

.copyright {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #9a9999;
    margin-top: 20px;
}